# Required
snowflake_account = "account_name"

# Optional
env            = "dev"
prefix         = "my"
terraform_role = "ACCOUNTADMIN" # my_org_alerting_rl

snowalert_warehouse_name = "SNOWALERT_WAREHOUSE"
snowalert_database_name  = "SNOWALERT"
snowalert_user_name      = "APP_SNOWALERT"
snowalert_role_name      = "APP_SNOWALERT"

create_warehouse = false
create_database  = false
create_user      = false
create_role      = false
create_schemas   = true

data_schema_name    = "DATA"
rules_schema_name   = "RULES"
results_schema_name = "RESULTS"

handlers = [
  "slack",
  #   "jira",
  #   "smtp",
  #   "servicenow",
]

# Correspoding variables of the specified handlers are required
slack_secrets_arn = "arn:dummy"

jira_secrets_arn        = "arn:dummy"
jira_url                = "https://my-dummy-org.atlassian.net"
default_jira_project    = "SA"
default_jira_issue_type = "Task"

smtp_secrets_arn               = ""
smtp_driver_from_email_address = ""

servicenow_secrets_arn = "arn:dummy"
servicenow_api_url     = "https://api.servicenow.com"

# GEFF
aws_region         = "us-east-1"
geff_image_version = "latest"
data_bucket_arns   = []
